.venv/
coma2/__pycache__/
coma2/models/__pycache__/__init__.cpython-39.pyc
coma2/models/__pycache__/ingredients.cpython-39.pyc
coma2/models/__pycache__/cocktails.cpython-39.pyc
coma2/models/__pycache__/cocktail.cpython-39.pyc
coma2/models/__pycache__/ingredient.cpython-39.pyc
coma2/models/__pycache__/slots.cpython-39.pyc
